@font-face {
    font-family: "Open Sans";
    src: url("fonts/Google Fonts/Open_Sans/OpenSans-ExtraBold.ttf"), format("truetype");
    
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 130px;
    font-weight: bolder;
    letter-spacing: 50px;
    line-height: 130%;
    font-family: "Open Sans", Oswald, sans-serif;
    min-width: 180px;
    padding: 0 460px 0 0;
}

header {
    position: relative;
    background-image: url("../img/Section Backgrounds/Header Background.jpg");
    /*background-image: (right, #000828, transparent);*/
    width: 100%;
    height: 100%;
}

header .bitumi-sigil-1 img {
    padding: 0 0 200px 100px;
}

header .header-content {
    padding: 60px 0 0 160px;
    max-width: 460px;
}