h1 {
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 25px;
    font-family: "Oswald", sans-serif;
    min-width: 170px;
    padding: 0 450px 0 0;
}

header {
    position: relative;
    background-image: url("../img/Header Background.jpg");
    /*background-image: (right, #000828, transparent);*/
    width: 100%;
}

header .bitumi-sigil-1 img {
    padding: 0 0 0 300px;
}

header .header-content {
    padding: 170px 0 420px;
    max-width: 460px;
}